<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="My Test Suite" parallel="methods" thread-count="3">


    <test verbose="5" preserve-order="true" name="MyFrameworkProject">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="org.iti.pages.tests.RegistrationTest"/>
<!--
                <methods>
                    <include name="testRegistration"/>
                </methods>
-->

<!--            </class>-->
        </classes>
    </test>


</suite>